
<div class="container mt-3">
  <app-search-books
  (filterBooks)="filterBooks($event)"></app-search-books>


  <div class="d-flex flex-wrap">
    <div class="card m-3 " style="width: 18rem;" *ngFor="let b of filteredBooks?filteredBooks:booksToDisplay" >
      <div class="card-body">
        <h5 class="card-title">{{ b.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ b.author}} </h6>
        <p>  {{ b.price}} € </p>
        <div class="d-flex justify-content-around">
            <button class="btn  btn-success" (click)="displayBook(b)"> Détails </button>
            <button class="btn  btn-primary" routerLink="/books/edit/{{b.id}}"> Editer </button>
            <button class="btn btn-danger" (click)="deleteBook(b.id)"> Supprimer</button>
        </div>
      </div>
    </div>
  </div>

  <app-bookdetails
    [book]="selectedBook"
    *ngIf="selectedBook !== undefined"
    (hideBookDetails)="hideCard($event)"
  > </app-bookdetails>

  <button class="btn btn-success" routerLink="/books/add"> Ajouter un livre </button>



</div>
