<h3> Ajouter un nouveau livre</h3>

<form (ngSubmit)="addBook(f)" #f="ngForm">
  <div class="mb-3">
      <label for="title" class="form-label">Titre</label>
      <input type="text" class="form-control" id="title" name="title" ngModel required #title="ngModel">
      <span class="erreur" *ngIf="title.invalid && title.touched">Le champ est obligatoire</span>
  </div>
  <div class="mb-3">
      <label for="authorId" class="form-label">Auteur</label>
      <select id="authorId" name="authorId" ngModel required #author="ngModel">
        <option value=""></option>
        <option  *ngFor="let author of authors" [value]="author.id"> {{ author.firstName}} {{author.lastName }}</option>
      </select>
      <!-- <input type="text" class="form-control" id="author" name="author" ngModel required #author="ngModel"> -->
      <span class="erreur" *ngIf="author.invalid && author.touched">Le champ est obligatoire</span>
  </div>
  <div class="mb-3">
      <label for="price" class="form-label">Prix</label>
      <input type="number" class="form-control" id="price" name="price" ngModel required #price="ngModel">
      <span class="erreur" *ngIf="price.invalid && price.touched">Le champ est obligatoire</span>
  </div>
  <div class="mb-3">
      <label for="coverURL" class="form-label">Lien de la photo de couverture</label>
      <input type="text" class="form-control" id="coverURL" name="coverURL" ngModel required #url="ngModel">
      <span class="erreur" *ngIf="url.invalid && url.touched">Le champ est obligatoire</span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Valider</button>
</form>
